/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
body {
  font-family: 'Montserrat', sans-serif;
}
div input {
  width: 272px;
  height: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 0px 0px 0px 16px;
  outline: none;
}
div input:hover {
  border: 1px solid #000;
}
button[data-start] {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  background: #cfcfcf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
}

button[data-start]:hover {
  background-color: #6c8cff;
  color: #fff;
}
div input:focus {
  border: 1px solid #4e75ff;
}
.timer {
  width: 346px;
  height: 72px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  margin-top: 32px;
  padding-left: 156px;
}
.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  border-radius: 4px;
  width: 272px;
  height: 40px;
}
.wrapper {
  display: flex;
  margin-top: 36px;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  padding-left: 156px;
  margin-bottom: 10px;
}

form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 24px;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
legend {
  margin-left: 28px;
}
button:hover {
  background: #6c8cff;
}
